ion-content{
    --background: var(--ion-color-medium-tint);
}
.boton_personalizado {
    text-decoration: none;
    padding: 2px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    width: 75px;
    height: 40px;
    background-color: #616b70;
    border-radius: 6px;
    border: 2px solid #00041f;
  }