<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button default-href="#">Logout</ion-back-button>
    </ion-buttons>
    <ion-title>App Medica</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-item>
    <ion-button routerLink="/login" color="secondary" class="boton_personalizado" slot="start">
      <img src="assets/icon/curriculum.png" alt="" width="55" height="45">
    </ion-button>
    <!-- <ion-label>Mis Datos</ion-label> -->
    <h5>Mis Datos</h5>
  </ion-item>

  <ion-item>
    <ion-button color="danger" class="boton_personalizado" slot="start">
      <img src="assets/icon/sos.png" alt="" width="55" height="45">
    </ion-button>
 <!--    <ion-label>SOS Emergencia</ion-label> -->
    <a href="tel:911">SOS Emergencia</a> 
  </ion-item>

  <ion-item>
    <ion-button routerLink="/map" color="success" class="boton_personalizado" slot="start">
      <img src="assets/icon/servicios.png" alt="" width="55" height="45">
    </ion-button>
    <!-- <ion-label>Servicios de Salud</ion-label> -->
    <h5>Servicios de Salud</h5>
  </ion-item>

  <ion-item>
    <ion-button class="boton_personalizado" slot="start">
      <img src="assets/icon/contactos.png" alt="" width="55" height="45">
    </ion-button>
    <!-- <ion-label>Contactos de Emergencia</ion-label> -->
    <h5>Contactos de Emergencia</h5>
  </ion-item>

  <ion-item>
    <ion-button color="medium" class="boton_personalizado" slot="start">
      <img src="assets/icon/mapa.png" alt="" width="55" height="45">
    </ion-button>
    <!-- <ion-label>Mi Ubicación</ion-label> -->
    <h5>Mi Ubicación</h5>
  </ion-item>

  <h2>Información</h2>

  <ion-item>
    <ion-button color="warning" class="boton_personalizado" slot="start">
      <img src="assets/icon/ayudar.png" alt="" width="55" height="45">
    </ion-button>
    <!-- <ion-label>Preguntas</ion-label> -->
    <h5>Preguntas</h5>
  </ion-item>

  <ion-item>
    <ion-button color="dark" class="boton_personalizado" slot="start">
      <img src="assets/icon/alerta.png" alt="" width="55" height="45">
    </ion-button>
    <!-- <ion-label>Aviso Legal</ion-label> -->
    <h5>Aviso Legal</h5>
  </ion-item>
</ion-content>
